<div class="footer" fxLayout="row" fxLayoutAlign="center">
  <div class="footer-wrap" fxLayout="column" fxLayoutAlign="end stretch" fxFlex="50">
    <div class="footer-link" fxLayoutAlign="column">
      <div fxFlex>
        <h6>Online Store</h6>
        Bukalapak 
        <br> Tokopedia 
        <br> Olx
        <br>
      </div>
      <div fxFlex>
        <h6>Offline Store</h6>
        Cibubur
        <br> Jakartas
        <br> Bogor 
        <br>
      </div>
      <div fxFlex>
        <h6>Our Social Media</h6>
        <i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;Facebook
        <br><i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp;Twitter
        <br><i class="fa fa-google-plus"></i>&nbsp;Google
        <br>
      </div>
      <div fxFlex>
        <h6>Our Production House</h6>
        Jl. Cibubur Raya No. 3
        <br> Jakarta Timur
        <br> Jakarta 12530
        <br> Google Map
        <br>
      </div>
    </div>
  </div>
</div>

<div class="footer-copyright" fxLayoutAlign="center end">
  <span>© {{year}} {{companyName}} by {{author}}</span>
</div>
