<div class="footer" fxLayout="row" fxLayoutAlign="center">
  <div class="footer-wrap" fxLayout="column" fxLayoutAlign="end stretch" fxFlex="80">
    <div class="footer-link" fxLayoutAlign="column">
      <div fxFlex="25">Online Store
        <br>
        <br> Bukalapak
        <br> Tokopedia
        <br> Olx
        <br>
      </div>
      <div fxFlex="25">Store Location
        <br>
        <br> Cibubur
        <br> Jakarta
        <br> Bogor
        <br>
      </div>
      <div fxFlex="25">Touch Us

      </div>
      <div fxFlex="25">Social
        <br>
        <br> Facebook
        <br> Twitter
        <br> +Google
        <br>
      </div>
    </div>
    <div class="footer-copyright" fxLayoutAlign="center">
      <span>© {{year}} {{companyName}}. Site by {{author}}</span>
    </div>
  </div>
</div>
